/*css 초기화*/

@charset "utf-8";
@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/*reset*/
*{
    padding: 0;
    margin: 0;
    
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
 legend, table, tbody, tfoot, thead, tr, th, td
 {
     margin:0;padding:0;
    
    
}

a {
    color: inherit;
    text-decoration: none;
}a

img{ 
    
    vertical-align: middle;
}

a img {
    border: none;
}

li {
    list-style: none;
}
address, em, i {
    font-style: normal;
}

/*font-family: 'Montserrat', sans-serif;*/

body{

    font-family: 'Cafe24Ohsquareair';
    font-size: 14px;
    color: #333;
}

.wrap{
    width: 100%;
    overflow: hidden;
}


/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000000;
    padding: 40px 0 25px;
    color:#fff;
    font-family: 'Black Han Sans';
    font-weight: bold;
    text-align: center;
    transition: all 0.4s;
}

header .inner {
    width: 90%;
    margin: 0 auto;
}

header .inner .logo {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    transition: all 0.4s;
    
}

header .inner .logo:hover {
cursor: url(../img/mouse.png) 20 30, auto;
}



header .inner .gnbBtn {
    display: block;
    float: left;
    width: 32px;
    height: 12px;
    position: relative;
    margin-top: 15px;
    transition: all 0.4s;

}

header .inner .gnbBtn span {

    background: #fff ;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
}

header .inner .gnbBtn span.a{
    top:0;

}

header .inner .gnbBtn span.b{
    bottom: 0;

}

header .inner .contact {
    display: block;
    float: right;
    margin-top: 10px;

}


/*header 모션*/
header .on { 
    padding: 20px 0 18px;
    transition: all 0.4s;
}

header .on .logo {
    font-size: 22px;
    transition: all 0.4s;
}

header .on .gnbBtn, header.on .contact{
    margin-top: 4px;
    transition: all 0.4s;
}

.contents { 

    background: #fff;
    position: relative;
    z-index: 1;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.card {

	height: 400px;

	width: 350px;

	border-radius: 15px;

	display: inline-block;

	margin-top: 30px;

	margin-left: 30px;

	margin-bottom: 30px;

	position: relative;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	overflow: hidden;

}



.card-header {

	-webkit-transition: 0.5s; /*사파리 & 크롬*/

    -moz-transition: 0.5s;  /*파이어폭스*/

    -ms-transition: 0.5s;	/*인터넷 익스플로러*/

    -o-transition: 0.5s;  /*오페라*/

    transition: 0.5s;

	width: 100%;

	height: 270px;

	border-radius: 15px 15px 0 0;

	background-image: url("../img/model.png");

	background-size: 100% 280px;

	background-repeat: no-repeat;	

}



.card:hover .card-header  {

	opacity: 0.8;

	height: 100px;

}



.card-header-is_closed{



    color: #FFF ;

    font-weight: bold ;

    text-align: center ;

    float: right;

    margin: 15px 15px 0 0;

    border-radius: 50%;

    font-weight: bold;

    padding: 10px 10px;

    line-height: 20px;

}



h1 {

    font-size: 22px;

    font-weight: bold;

}



.card-body {

}



.card-body-header{

	line-height: 25px;

	margin: 10px 20px 0px 20px;

}



.card-body-description  {

    opacity: 0;

    color: #757B82;

    line-height: 25px;

    -webkit-transition: .2s ease-in-out; /*사파리&크롬*/

    -moz-transition: .2s ease-in-out; /*파이어폭스*/

    -ms-transition: .2s ease-in-out; /*익스플로러*/

    -o-transition: .2s ease-in-out; /*오페라*/

    transition : .2s ease-in-out;

    overflow: hidden;

	height: 180px;

	margin: 5px 20px;

}



.card:hover .card-body-description {

    opacity: 1;

    -webkit-transition: .5s ease-in-out;

    -moz-transition: .5s ease-in-out;

    -ms-transition: .5s ease-in-out;

    -o-transition: .5s ease-in-out;

    transition : .5s ease-in-out;

    overflow: scroll;

}



.card-body-hashtag {

	color: #2478FF;

	font-style: italic;

}



.card-body-footer {

  	position: absolute; 

  	margin-top: 15px;

  	margin-bottom: 6px;

    bottom: 0; 

    width: 314px;

    font-size: 14px;

    color: #9FA5A8;

    padding: 0 15px;

}


/*footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: black;
    color: white;
    padding: 75px 0;
    box-sizing: border-box;
    z-index: -1;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    font-family: 'GowunBatang-Regular';
}

footer .inner .footerLogo {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

footer .inner .contact {
    width: 30%;
    line-height: 1.4;
    margin-top: 10px;
}

footer .inner .sns {
    display: flex;
    margin-top: 20px;
}

footer .inner .sns li {
    margin: 0 40px;
    font-weight: bold;
    font-size: 17px;
}

/*텍스트애니메이션*/
@keyframes textAni {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
}

/*visual 텍스트애니메이션*/
.visual .title.motion .char {
    animation: textAni 3s both;
    animation-delay: calc(0.08s * var(--char-index));
}

/*.text공통애니메이션*/
.text.motion .word {
    animation: textAni 0.8s both;
    animation-delay: calc(0.02s * var(--word-index));
}

.text.motion a {
    animation: border 1s both;
}

@keyframes border {
    0%{
        border-color: transparent;
    }

    30%{
        border-color: transparent;
    }
}


